# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db